<table border='1'>
	<tr>
		<th>Class name</th>
		<th>Method name</th>
		<th>Groups</th>
	</tr>
	<tr>
		<td>urlMonitoring.urlMonitoring</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td align='center' colspan='3'>@Test</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>url_2</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>url_1</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td align='center' colspan='3'>@BeforeClass</td>
	</tr>
	<tr>
		<td align='center' colspan='3'>@BeforeMethod</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>BeforeMethod</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td align='center' colspan='3'>@AfterMethod</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Crash</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td align='center' colspan='3'>@AfterClass</td>
	</tr>
</table>
