<h2>Methods run, sorted chronologically</h2>
<h3>&gt;&gt; means before, &lt;&lt; means after</h3>
<p />
<br />
<em>Default suite</em>
<p />
<small><i>(Hover the method name to see the test class name)</i></small>
<p />
<table border="1">
	<tr>
		<th>Time</th>
		<th>Delta (ms)</th>
		<th>Suite<br>configuration
		</th>
		<th>Test<br>configuration
		</th>
		<th>Class<br>configuration
		</th>
		<th>Groups<br>configuration
		</th>
		<th>Method<br>configuration
		</th>
		<th>Test<br>method
		</th>
		<th>Thread</th>
		<th>Instances</th>
	</tr>
	<tr bgcolor="8e8568">
		<td>17/01/08 22:20:16</td>
		<td>0</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td
			title="&gt;&gt;urlMonitoring.BeforeMethod()[pri:0, instance:urlMonitoring.urlMonitoring@9d209a]">&gt;&gt;BeforeMethod</td>
		<td>&nbsp;</td>
		<td>main@28159581</td>
		<td></td>
	</tr>
	<tr bgcolor="8e8568">
		<td>17/01/08 22:20:21</td>
		<td>5095</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td
			title="urlMonitoring.url_1()[pri:0, instance:urlMonitoring.urlMonitoring@9d209a]">url_1</td>
		<td>main@28159581</td>
		<td></td>
	</tr>
	<tr bgcolor="8e8568">
		<td>17/01/08 22:20:37</td>
		<td>21341</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td
			title="&lt;&lt;urlMonitoring.Crash()[pri:0, instance:urlMonitoring.urlMonitoring@9d209a]">&lt;&lt;Crash</td>
		<td>&nbsp;</td>
		<td>main@28159581</td>
		<td></td>
	</tr>
	<tr bgcolor="8e8568">
		<td>17/01/08 22:20:40</td>
		<td>24541</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td
			title="&gt;&gt;urlMonitoring.BeforeMethod()[pri:0, instance:urlMonitoring.urlMonitoring@9d209a]">&gt;&gt;BeforeMethod</td>
		<td>&nbsp;</td>
		<td>main@28159581</td>
		<td></td>
	</tr>
	<tr bgcolor="8e8568">
		<td>17/01/08 22:20:45</td>
		<td>28929</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td
			title="urlMonitoring.url_2()[pri:0, instance:urlMonitoring.urlMonitoring@9d209a]">url_2</td>
		<td>main@28159581</td>
		<td></td>
	</tr>
	<tr bgcolor="8e8568">
		<td>17/01/08 22:20:59</td>
		<td>43520</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td
			title="&lt;&lt;urlMonitoring.Crash()[pri:0, instance:urlMonitoring.urlMonitoring@9d209a]">&lt;&lt;Crash</td>
		<td>&nbsp;</td>
		<td>main@28159581</td>
		<td></td>
	</tr>
</table>
